<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.voicetranslate">

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

<!--    <uses-feature android:name="android.hardware.camera.autofocus" />-->
<!--    <uses-feature-->
<!--        android:name="android.hardware.camera"-->
<!--        android:required="true" />-->

<!--    <queries>-->
<!--        <intent>-->
<!--            <action android:name="android.media.action.IMAGE_CAPTURE" />-->
<!--        </intent>-->
<!--    </queries>-->

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.VoiceTranslate">
        <activity
            android:name=".shows.ShowLanguage"
            android:exported="false" />
        <activity
            android:name=".shows.ShowImage"
            android:exported="false"
            android:theme="@style/Theme.GetImage" />
        <activity
            android:name=".shows.ShowOfflinePhraseBook"
            android:exported="false" />
        <activity
            android:name=".shows.ShowContent"
            android:exported="false" />
        <activity
            android:name=".screens.Setting"
            android:exported="false" />
        <activity
            android:name=".screens.Home"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <provider
            android:authorities="com.example.voicetranslate"
            android:name="androidx.core.content.FileProvider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/filepaths" />
        </provider>

        <meta-data
            android:name="com.google.mlkit.vision.DEPENDENCIES"
            android:value="ocr" />
    </application>

</manifest>